PORT=4000
DATABASE_URL="file:./dev.db"
JWT_SECRET="replace-with-a-random-secret-at-least-32-characters"
PAYSTACK_SECRET_KEY=
PAYSTACK_CALLBACK_URL=http://localhost:3000/wallet
FRONTEND_URL=http://localhost:3000
UPLOAD_DIR="./uploads"
